header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 150px 0;
}

#hero {
    background: url(../img/background.png) top center no-repeat;
    background-size: 100%;
    padding-bottom: 25%;
}